FTSPayroll/Web References/WebService/webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAccountCategories">
        <s:complexType />
      </s:element>
      <s:element name="DownloadAccountCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadAccountCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAccountSubCategories">
        <s:complexType />
      </s:element>
      <s:element name="DownloadAccountSubCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadAccountSubCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadAccountsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadCostCenters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadCostCentersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadCostCentersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadNonFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadNonFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadNonFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBoughtLeafSuppliers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBoughtLeafSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadBoughtLeafSuppliersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadGeneralStoreSuppliers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadGeneralStoreSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadGeneralStoreSuppliersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadGeneralStoreSupplierCategory">
        <s:complexType />
      </s:element>
      <s:element name="DownloadGeneralStoreSupplierCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadGeneralStoreSupplierCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadProduct">
        <s:complexType />
      </s:element>
      <s:element name="DownloadProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadProductResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadProductCategories">
        <s:complexType />
      </s:element>
      <s:element name="DownloadProductCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadProductCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadProductUnits">
        <s:complexType />
      </s:element>
      <s:element name="DownloadProductUnitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadProductUnitsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadDivisions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadDivisionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadDivisionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadEstateMarks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadEstateMarksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadEstateMarksResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadOtherEstates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadOtherEstatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadOtherEstatesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFinancialYears">
        <s:complexType />
      </s:element>
      <s:element name="DownloadFinancialYearsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFinancialYearsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadTeaBrokers">
        <s:complexType />
      </s:element>
      <s:element name="DownloadTeaBrokersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadTeaBrokersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadTeaGrades">
        <s:complexType />
      </s:element>
      <s:element name="DownloadTeaGradesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadTeaGradesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadBoughtLeafBanks">
        <s:complexType />
      </s:element>
      <s:element name="DownloadBoughtLeafBanksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadBoughtLeafBanksResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadEstateExtent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PeriodKey" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadEstateExtentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadEstateExtentResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadHolidays">
        <s:complexType />
      </s:element>
      <s:element name="DownloadHolidaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadHolidaysResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAdditions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAdditionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadAdditionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadDeductionGroups">
        <s:complexType />
      </s:element>
      <s:element name="DownloadDeductionGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadDeductionGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadDeductions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadDeductionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadDeductionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadExtraRates">
        <s:complexType />
      </s:element>
      <s:element name="DownloadExtraRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadExtraRatesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadJobs">
        <s:complexType />
      </s:element>
      <s:element name="DownloadJobsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadJobsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadDayOpenings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OpenDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadDayOpeningsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadDayOpeningsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDayOpening">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OpenDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDayOpeningResponse">
        <s:complexType />
      </s:element>
      <s:element name="DownloadCheckRollOverTime">
        <s:complexType />
      </s:element>
      <s:element name="DownloadCheckRollOverTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadCheckRollOverTimeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollDesignations">
        <s:complexType />
      </s:element>
      <s:element name="DownloadPayrollDesignationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadPayrollDesignationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollDepartments">
        <s:complexType />
      </s:element>
      <s:element name="DownloadPayrollDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadPayrollDepartmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollBanks">
        <s:complexType />
      </s:element>
      <s:element name="DownloadPayrollBanksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadPayrollBanksResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollBankBranches">
        <s:complexType />
      </s:element>
      <s:element name="DownloadPayrollBankBranchesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadPayrollBankBranchesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollEmployees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadPayrollEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollLoans">
        <s:complexType />
      </s:element>
      <s:element name="DownloadPayrollLoansResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadPayrollLoansResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollAllowances">
        <s:complexType />
      </s:element>
      <s:element name="DownloadPayrollAllowancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadPayrollAllowancesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadPayrollDeductions">
        <s:complexType />
      </s:element>
      <s:element name="DownloadPayrollDeductionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadPayrollDeductionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadCapitalExpenditureRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EstateID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadCapitalExpenditureRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadCapitalExpenditureRateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadAccountCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadAccountCategories" />
  </wsdl:message>
  <wsdl:message name="DownloadAccountCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadAccountCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadAccountSubCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadAccountSubCategories" />
  </wsdl:message>
  <wsdl:message name="DownloadAccountSubCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadAccountSubCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadAccounts" />
  </wsdl:message>
  <wsdl:message name="DownloadAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadCostCentersSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadCostCenters" />
  </wsdl:message>
  <wsdl:message name="DownloadCostCentersSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadCostCentersResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFields" />
  </wsdl:message>
  <wsdl:message name="DownloadFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadNonFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadNonFields" />
  </wsdl:message>
  <wsdl:message name="DownloadNonFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadNonFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadBoughtLeafSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBoughtLeafSuppliers" />
  </wsdl:message>
  <wsdl:message name="DownloadBoughtLeafSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBoughtLeafSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadGeneralStoreSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadGeneralStoreSuppliers" />
  </wsdl:message>
  <wsdl:message name="DownloadGeneralStoreSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadGeneralStoreSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadGeneralStoreSupplierCategorySoapIn">
    <wsdl:part name="parameters" element="tns:DownloadGeneralStoreSupplierCategory" />
  </wsdl:message>
  <wsdl:message name="DownloadGeneralStoreSupplierCategorySoapOut">
    <wsdl:part name="parameters" element="tns:DownloadGeneralStoreSupplierCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadProductSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadProduct" />
  </wsdl:message>
  <wsdl:message name="DownloadProductSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadProductResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadProductCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadProductCategories" />
  </wsdl:message>
  <wsdl:message name="DownloadProductCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadProductUnitsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadProductUnits" />
  </wsdl:message>
  <wsdl:message name="DownloadProductUnitsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadProductUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadDivisionsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadDivisions" />
  </wsdl:message>
  <wsdl:message name="DownloadDivisionsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadDivisionsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadEstateMarksSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadEstateMarks" />
  </wsdl:message>
  <wsdl:message name="DownloadEstateMarksSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadEstateMarksResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadOtherEstatesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadOtherEstates" />
  </wsdl:message>
  <wsdl:message name="DownloadOtherEstatesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadOtherEstatesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFinancialYearsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFinancialYears" />
  </wsdl:message>
  <wsdl:message name="DownloadFinancialYearsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFinancialYearsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadTeaBrokersSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadTeaBrokers" />
  </wsdl:message>
  <wsdl:message name="DownloadTeaBrokersSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadTeaBrokersResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadTeaGradesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadTeaGrades" />
  </wsdl:message>
  <wsdl:message name="DownloadTeaGradesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadTeaGradesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadBoughtLeafBanksSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadBoughtLeafBanks" />
  </wsdl:message>
  <wsdl:message name="DownloadBoughtLeafBanksSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadBoughtLeafBanksResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadEstateExtentSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadEstateExtent" />
  </wsdl:message>
  <wsdl:message name="DownloadEstateExtentSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadEstateExtentResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadHolidaysSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadHolidays" />
  </wsdl:message>
  <wsdl:message name="DownloadHolidaysSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadHolidaysResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadAdditionsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadAdditions" />
  </wsdl:message>
  <wsdl:message name="DownloadAdditionsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadAdditionsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadDeductionGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadDeductionGroups" />
  </wsdl:message>
  <wsdl:message name="DownloadDeductionGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadDeductionGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadDeductionsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadDeductions" />
  </wsdl:message>
  <wsdl:message name="DownloadDeductionsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadDeductionsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadEmployees" />
  </wsdl:message>
  <wsdl:message name="DownloadEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadExtraRatesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadExtraRates" />
  </wsdl:message>
  <wsdl:message name="DownloadExtraRatesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadExtraRatesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadJobsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadJobs" />
  </wsdl:message>
  <wsdl:message name="DownloadJobsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadJobsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadDayOpeningsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadDayOpenings" />
  </wsdl:message>
  <wsdl:message name="DownloadDayOpeningsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadDayOpeningsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDayOpeningSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDayOpening" />
  </wsdl:message>
  <wsdl:message name="UpdateDayOpeningSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDayOpeningResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadCheckRollOverTimeSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadCheckRollOverTime" />
  </wsdl:message>
  <wsdl:message name="DownloadCheckRollOverTimeSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadCheckRollOverTimeResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollDesignationsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPayrollDesignations" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollDesignationsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPayrollDesignationsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPayrollDepartments" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPayrollDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollBanksSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPayrollBanks" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollBanksSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPayrollBanksResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollBankBranchesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPayrollBankBranches" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollBankBranchesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPayrollBankBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPayrollEmployees" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPayrollEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollLoansSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPayrollLoans" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollLoansSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPayrollLoansResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollAllowancesSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPayrollAllowances" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollAllowancesSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPayrollAllowancesResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollDeductionsSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadPayrollDeductions" />
  </wsdl:message>
  <wsdl:message name="DownloadPayrollDeductionsSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadPayrollDeductionsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadCapitalExpenditureRateSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadCapitalExpenditureRate" />
  </wsdl:message>
  <wsdl:message name="DownloadCapitalExpenditureRateSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadCapitalExpenditureRateResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountCategories">
      <wsdl:input message="tns:DownloadAccountCategoriesSoapIn" />
      <wsdl:output message="tns:DownloadAccountCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountSubCategories">
      <wsdl:input message="tns:DownloadAccountSubCategoriesSoapIn" />
      <wsdl:output message="tns:DownloadAccountSubCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAccounts">
      <wsdl:input message="tns:DownloadAccountsSoapIn" />
      <wsdl:output message="tns:DownloadAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadCostCenters">
      <wsdl:input message="tns:DownloadCostCentersSoapIn" />
      <wsdl:output message="tns:DownloadCostCentersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFields">
      <wsdl:input message="tns:DownloadFieldsSoapIn" />
      <wsdl:output message="tns:DownloadFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadNonFields">
      <wsdl:input message="tns:DownloadNonFieldsSoapIn" />
      <wsdl:output message="tns:DownloadNonFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadBoughtLeafSuppliers">
      <wsdl:input message="tns:DownloadBoughtLeafSuppliersSoapIn" />
      <wsdl:output message="tns:DownloadBoughtLeafSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadGeneralStoreSuppliers">
      <wsdl:input message="tns:DownloadGeneralStoreSuppliersSoapIn" />
      <wsdl:output message="tns:DownloadGeneralStoreSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadGeneralStoreSupplierCategory">
      <wsdl:input message="tns:DownloadGeneralStoreSupplierCategorySoapIn" />
      <wsdl:output message="tns:DownloadGeneralStoreSupplierCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadProduct">
      <wsdl:input message="tns:DownloadProductSoapIn" />
      <wsdl:output message="tns:DownloadProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadProductCategories">
      <wsdl:input message="tns:DownloadProductCategoriesSoapIn" />
      <wsdl:output message="tns:DownloadProductCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadProductUnits">
      <wsdl:input message="tns:DownloadProductUnitsSoapIn" />
      <wsdl:output message="tns:DownloadProductUnitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadDivisions">
      <wsdl:input message="tns:DownloadDivisionsSoapIn" />
      <wsdl:output message="tns:DownloadDivisionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadEstateMarks">
      <wsdl:input message="tns:DownloadEstateMarksSoapIn" />
      <wsdl:output message="tns:DownloadEstateMarksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadOtherEstates">
      <wsdl:input message="tns:DownloadOtherEstatesSoapIn" />
      <wsdl:output message="tns:DownloadOtherEstatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFinancialYears">
      <wsdl:input message="tns:DownloadFinancialYearsSoapIn" />
      <wsdl:output message="tns:DownloadFinancialYearsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadTeaBrokers">
      <wsdl:input message="tns:DownloadTeaBrokersSoapIn" />
      <wsdl:output message="tns:DownloadTeaBrokersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadTeaGrades">
      <wsdl:input message="tns:DownloadTeaGradesSoapIn" />
      <wsdl:output message="tns:DownloadTeaGradesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadBoughtLeafBanks">
      <wsdl:input message="tns:DownloadBoughtLeafBanksSoapIn" />
      <wsdl:output message="tns:DownloadBoughtLeafBanksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadEstateExtent">
      <wsdl:input message="tns:DownloadEstateExtentSoapIn" />
      <wsdl:output message="tns:DownloadEstateExtentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadHolidays">
      <wsdl:input message="tns:DownloadHolidaysSoapIn" />
      <wsdl:output message="tns:DownloadHolidaysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAdditions">
      <wsdl:input message="tns:DownloadAdditionsSoapIn" />
      <wsdl:output message="tns:DownloadAdditionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadDeductionGroups">
      <wsdl:input message="tns:DownloadDeductionGroupsSoapIn" />
      <wsdl:output message="tns:DownloadDeductionGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadDeductions">
      <wsdl:input message="tns:DownloadDeductionsSoapIn" />
      <wsdl:output message="tns:DownloadDeductionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadEmployees">
      <wsdl:input message="tns:DownloadEmployeesSoapIn" />
      <wsdl:output message="tns:DownloadEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadExtraRates">
      <wsdl:input message="tns:DownloadExtraRatesSoapIn" />
      <wsdl:output message="tns:DownloadExtraRatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadJobs">
      <wsdl:input message="tns:DownloadJobsSoapIn" />
      <wsdl:output message="tns:DownloadJobsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadDayOpenings">
      <wsdl:input message="tns:DownloadDayOpeningsSoapIn" />
      <wsdl:output message="tns:DownloadDayOpeningsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDayOpening">
      <wsdl:input message="tns:UpdateDayOpeningSoapIn" />
      <wsdl:output message="tns:UpdateDayOpeningSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadCheckRollOverTime">
      <wsdl:input message="tns:DownloadCheckRollOverTimeSoapIn" />
      <wsdl:output message="tns:DownloadCheckRollOverTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDesignations">
      <wsdl:input message="tns:DownloadPayrollDesignationsSoapIn" />
      <wsdl:output message="tns:DownloadPayrollDesignationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDepartments">
      <wsdl:input message="tns:DownloadPayrollDepartmentsSoapIn" />
      <wsdl:output message="tns:DownloadPayrollDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollBanks">
      <wsdl:input message="tns:DownloadPayrollBanksSoapIn" />
      <wsdl:output message="tns:DownloadPayrollBanksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollBankBranches">
      <wsdl:input message="tns:DownloadPayrollBankBranchesSoapIn" />
      <wsdl:output message="tns:DownloadPayrollBankBranchesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollEmployees">
      <wsdl:input message="tns:DownloadPayrollEmployeesSoapIn" />
      <wsdl:output message="tns:DownloadPayrollEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollLoans">
      <wsdl:input message="tns:DownloadPayrollLoansSoapIn" />
      <wsdl:output message="tns:DownloadPayrollLoansSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollAllowances">
      <wsdl:input message="tns:DownloadPayrollAllowancesSoapIn" />
      <wsdl:output message="tns:DownloadPayrollAllowancesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDeductions">
      <wsdl:input message="tns:DownloadPayrollDeductionsSoapIn" />
      <wsdl:output message="tns:DownloadPayrollDeductionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadCapitalExpenditureRate">
      <wsdl:input message="tns:DownloadCapitalExpenditureRateSoapIn" />
      <wsdl:output message="tns:DownloadCapitalExpenditureRateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountCategories">
      <soap:operation soapAction="http://tempuri.org/DownloadAccountCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountSubCategories">
      <soap:operation soapAction="http://tempuri.org/DownloadAccountSubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAccounts">
      <soap:operation soapAction="http://tempuri.org/DownloadAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadCostCenters">
      <soap:operation soapAction="http://tempuri.org/DownloadCostCenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFields">
      <soap:operation soapAction="http://tempuri.org/DownloadFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadNonFields">
      <soap:operation soapAction="http://tempuri.org/DownloadNonFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBoughtLeafSuppliers">
      <soap:operation soapAction="http://tempuri.org/DownloadBoughtLeafSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadGeneralStoreSuppliers">
      <soap:operation soapAction="http://tempuri.org/DownloadGeneralStoreSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadGeneralStoreSupplierCategory">
      <soap:operation soapAction="http://tempuri.org/DownloadGeneralStoreSupplierCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadProduct">
      <soap:operation soapAction="http://tempuri.org/DownloadProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadProductCategories">
      <soap:operation soapAction="http://tempuri.org/DownloadProductCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadProductUnits">
      <soap:operation soapAction="http://tempuri.org/DownloadProductUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDivisions">
      <soap:operation soapAction="http://tempuri.org/DownloadDivisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadEstateMarks">
      <soap:operation soapAction="http://tempuri.org/DownloadEstateMarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadOtherEstates">
      <soap:operation soapAction="http://tempuri.org/DownloadOtherEstates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFinancialYears">
      <soap:operation soapAction="http://tempuri.org/DownloadFinancialYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTeaBrokers">
      <soap:operation soapAction="http://tempuri.org/DownloadTeaBrokers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTeaGrades">
      <soap:operation soapAction="http://tempuri.org/DownloadTeaGrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBoughtLeafBanks">
      <soap:operation soapAction="http://tempuri.org/DownloadBoughtLeafBanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadEstateExtent">
      <soap:operation soapAction="http://tempuri.org/DownloadEstateExtent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadHolidays">
      <soap:operation soapAction="http://tempuri.org/DownloadHolidays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAdditions">
      <soap:operation soapAction="http://tempuri.org/DownloadAdditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDeductionGroups">
      <soap:operation soapAction="http://tempuri.org/DownloadDeductionGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDeductions">
      <soap:operation soapAction="http://tempuri.org/DownloadDeductions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadEmployees">
      <soap:operation soapAction="http://tempuri.org/DownloadEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadExtraRates">
      <soap:operation soapAction="http://tempuri.org/DownloadExtraRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadJobs">
      <soap:operation soapAction="http://tempuri.org/DownloadJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDayOpenings">
      <soap:operation soapAction="http://tempuri.org/DownloadDayOpenings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDayOpening">
      <soap:operation soapAction="http://tempuri.org/UpdateDayOpening" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadCheckRollOverTime">
      <soap:operation soapAction="http://tempuri.org/DownloadCheckRollOverTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDesignations">
      <soap:operation soapAction="http://tempuri.org/DownloadPayrollDesignations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDepartments">
      <soap:operation soapAction="http://tempuri.org/DownloadPayrollDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollBanks">
      <soap:operation soapAction="http://tempuri.org/DownloadPayrollBanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollBankBranches">
      <soap:operation soapAction="http://tempuri.org/DownloadPayrollBankBranches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollEmployees">
      <soap:operation soapAction="http://tempuri.org/DownloadPayrollEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollLoans">
      <soap:operation soapAction="http://tempuri.org/DownloadPayrollLoans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollAllowances">
      <soap:operation soapAction="http://tempuri.org/DownloadPayrollAllowances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDeductions">
      <soap:operation soapAction="http://tempuri.org/DownloadPayrollDeductions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadCapitalExpenditureRate">
      <soap:operation soapAction="http://tempuri.org/DownloadCapitalExpenditureRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountCategories">
      <soap12:operation soapAction="http://tempuri.org/DownloadAccountCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAccountSubCategories">
      <soap12:operation soapAction="http://tempuri.org/DownloadAccountSubCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAccounts">
      <soap12:operation soapAction="http://tempuri.org/DownloadAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadCostCenters">
      <soap12:operation soapAction="http://tempuri.org/DownloadCostCenters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFields">
      <soap12:operation soapAction="http://tempuri.org/DownloadFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadNonFields">
      <soap12:operation soapAction="http://tempuri.org/DownloadNonFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBoughtLeafSuppliers">
      <soap12:operation soapAction="http://tempuri.org/DownloadBoughtLeafSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadGeneralStoreSuppliers">
      <soap12:operation soapAction="http://tempuri.org/DownloadGeneralStoreSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadGeneralStoreSupplierCategory">
      <soap12:operation soapAction="http://tempuri.org/DownloadGeneralStoreSupplierCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadProduct">
      <soap12:operation soapAction="http://tempuri.org/DownloadProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadProductCategories">
      <soap12:operation soapAction="http://tempuri.org/DownloadProductCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadProductUnits">
      <soap12:operation soapAction="http://tempuri.org/DownloadProductUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDivisions">
      <soap12:operation soapAction="http://tempuri.org/DownloadDivisions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadEstateMarks">
      <soap12:operation soapAction="http://tempuri.org/DownloadEstateMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadOtherEstates">
      <soap12:operation soapAction="http://tempuri.org/DownloadOtherEstates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFinancialYears">
      <soap12:operation soapAction="http://tempuri.org/DownloadFinancialYears" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTeaBrokers">
      <soap12:operation soapAction="http://tempuri.org/DownloadTeaBrokers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTeaGrades">
      <soap12:operation soapAction="http://tempuri.org/DownloadTeaGrades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadBoughtLeafBanks">
      <soap12:operation soapAction="http://tempuri.org/DownloadBoughtLeafBanks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadEstateExtent">
      <soap12:operation soapAction="http://tempuri.org/DownloadEstateExtent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadHolidays">
      <soap12:operation soapAction="http://tempuri.org/DownloadHolidays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAdditions">
      <soap12:operation soapAction="http://tempuri.org/DownloadAdditions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDeductionGroups">
      <soap12:operation soapAction="http://tempuri.org/DownloadDeductionGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDeductions">
      <soap12:operation soapAction="http://tempuri.org/DownloadDeductions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadEmployees">
      <soap12:operation soapAction="http://tempuri.org/DownloadEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadExtraRates">
      <soap12:operation soapAction="http://tempuri.org/DownloadExtraRates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadJobs">
      <soap12:operation soapAction="http://tempuri.org/DownloadJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDayOpenings">
      <soap12:operation soapAction="http://tempuri.org/DownloadDayOpenings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDayOpening">
      <soap12:operation soapAction="http://tempuri.org/UpdateDayOpening" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadCheckRollOverTime">
      <soap12:operation soapAction="http://tempuri.org/DownloadCheckRollOverTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDesignations">
      <soap12:operation soapAction="http://tempuri.org/DownloadPayrollDesignations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDepartments">
      <soap12:operation soapAction="http://tempuri.org/DownloadPayrollDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollBanks">
      <soap12:operation soapAction="http://tempuri.org/DownloadPayrollBanks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollBankBranches">
      <soap12:operation soapAction="http://tempuri.org/DownloadPayrollBankBranches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollEmployees">
      <soap12:operation soapAction="http://tempuri.org/DownloadPayrollEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollLoans">
      <soap12:operation soapAction="http://tempuri.org/DownloadPayrollLoans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollAllowances">
      <soap12:operation soapAction="http://tempuri.org/DownloadPayrollAllowances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPayrollDeductions">
      <soap12:operation soapAction="http://tempuri.org/DownloadPayrollDeductions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadCapitalExpenditureRate">
      <soap12:operation soapAction="http://tempuri.org/DownloadCapitalExpenditureRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://madulsima.dyndns.org/webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://madulsima.dyndns.org/webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>